@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Flash Animations using Keyframes for better performance */
@keyframes flashGreen {
    0% {
        color: var(--green-9);
    }
}

@keyframes flashRed {
    0% {
        color: var(--red-9);
    }
}

.animate-flash-green {
    animation: flashGreen 1s ease-out;
}

.animate-flash-red {
    animation: flashRed 1s ease-out;
}